@import "/public/variables"

.Ordering
  display: grid

  h1
    background: $main
    text-transform: uppercase
    margin-bottom: 2vh
    padding: 0
    font-size: 2vh
    font-weight: 500
    text-align: left
    user-select: none

    span
      background: white
      padding: 1.25vh 1.25vh 1.25vh 0

  main
    padding: 4vh 4vh 2vh

    .Categories
      display: flex
      justify-content: space-around
      gap: 2vh
      margin-bottom: 2vh

  .Actions
    display: flex
    justify-content: space-around
    padding: 2vh 4vh 4vh
    gap: 4vh