
.Ordering
  main
    padding: 4vh 4vh 2vh

  .Items
    display: grid
    grid-template-columns: repeat(4, 1fr)
    column-gap: 2vh
    row-gap: 3vh

  .Actions
    display: flex
    justify-content: space-around
    padding: 2vh 4vh 4vh
    gap: 4vh